---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Skills from '../components/Skills.astro';
import Experience from '../components/Experience.astro';
import { ProjectShowcase } from '../components/ProjectShowcase';
import { Contact } from '../components/Contact';
import Footer from '../components/Footer.astro';
import { projects } from '../data/projects';
import { generateProjectsJsonLd } from '../utils/seo';
import { SITE_URL } from '@/utils/constants';

const projectsJsonLd = generateProjectsJsonLd(projects, SITE_URL);
---

<Layout>
    <Fragment slot="head">
        <script type="application/ld+json" is:inline set:html={JSON.stringify(projectsJsonLd)} />
    </Fragment>
    <Navbar />
    <main>
        <Hero />
        <About />
        <Skills />
        <Experience />
        <ProjectShowcase client:idle />
        <Contact client:idle />
    </main>
    <Footer />
</Layout>
